.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-green {
  background-color: #77a690 !important;
}

.btn-green:hover {
  background-color: #53735e !important;
}

.btn-text:hover {
  background-color: rgba(119, 166, 144, 0.1) !important;
}

.line {
  border: 1px solid #AEAEAE;
  width: 90px;
  height: 0px;
  margin-right: 15px;
}

.destination {
  width: 164px;
  height: 214px;
  border-radius: 45px;
}